.app {
  color: #fff;
  width: 99%;
  margin: auto;
  height: 250px;
  display: flex;
  flex-direction: row; }
  .app .child {
    width: 35%;
    height: 100%; }
  .app .litle-child {
    width: 30%;
    height: 100%; }
  .app .card-I {
    height: 100%;
    display: flex;
    flex-direction: column; }
    .app .card-I .I-row {
      width: 100%;
      height: 30%;
      display: flex; }
      .app .card-I .I-row .I {
        width: 30%;
        background-color: #dfdfdf; }
      .app .card-I .I-row .II {
        padding-left: 1%;
        padding-bottom: 1%;
        width: 24%;
        height: 99%;
        color: #fff;
        text-align: center;
        background-color: #414146;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column; }
      .app .card-I .I-row .III {
        width: 45%;
        background-color: #dfdfdf; }
        .app .card-I .I-row .III .icons {
          display: flex;
          flex-direction: column; }
          .app .card-I .I-row .III .icons i {
            padding: 10px;
            background-color: orange; }
    .app .card-I .II-row {
      width: 100%;
      height: 40%;
      display: flex; }
      .app .card-I .II-row .I {
        width: 30%;
        height: 100%;
        background-color: #27282a; }
      .app .card-I .II-row .II {
        width: 70%;
        height: 100%;
        background-color: #f75525; }
        .app .card-I .II-row .II .icons {
          height: 100%;
          width: 100%;
          display: flex;
          align-content: center;
          flex-direction: row;
          flex-wrap: wrap;
          color: #fff;
          padding-left: 10px; }
          .app .card-I .II-row .II .icons i {
            border-radius: 50%;
            border: 1px solid #fff;
            padding: 10px; }
    .app .card-I .III-row {
      width: 100%;
      height: 30%;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      background-color: #27282a;
      padding-left: 95px;
      z-index: 1; }
      .app .card-I .III-row .links {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
        color: #a3a3a3; }
  .app .card-II {
    height: 100%;
    display: flex;
    flex-direction: column; }
    .app .card-II .I-row {
      width: 100%;
      height: 15%;
      display: flex; }
      .app .card-II .I-row .I {
        height: 100%;
        width: 40%;
        background-color: #f75525;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; }
      .app .card-II .I-row .II {
        height: 100%;
        width: 60%;
        background-color: #dfdfdf; }
    .app .card-II .II-row {
      width: 100%;
      height: 55%;
      background-color: #565a60;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 10px;
      gap: 10px; }
      .app .card-II .II-row .info {
        width: 99%;
        display: flex;
        flex-wrap: wrap; }
        .app .card-II .II-row .info .card {
          width: 100%;
          display: flex;
          gap: 15px;
          align-items: center;
          color: #a3a3a3; }
          .app .card-II .II-row .info .card .information {
            display: flex;
            flex-direction: column; }
            .app .card-II .II-row .info .card .information :first-child {
              color: #fff; }
    .app .card-II .III-row {
      width: 100%;
      height: 30%;
      background-color: #27282a; }
  .app .card-III {
    height: 100%;
    display: flex;
    flex-direction: column; }
    .app .card-III .I-row {
      width: 100%;
      height: 15%;
      background-color: #f75525;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap; }
    .app .card-III .II-row {
      background-color: #ab5841;
      width: 100%;
      height: 55%; }
      .app .card-III .II-row .I {
        width: 100%;
        height: 100%;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
        .app .card-III .II-row .I .infor {
          width: 100%;
          height: 20%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: 11px; }
    .app .card-III .III-row {
      width: 100%;
      height: 30%;
      background-color: #723927;
      display: flex;
      align-content: space-around;
      flex-wrap: wrap;
      justify-content: space-evenly; }
      .app .card-III .III-row span {
        color: #f75525; }

/*# sourceMappingURL=index.css.map */
