* {
  text-transform: capitalize;
  box-sizing: border-box;
}
$main-color:#2192f3;
$main-border-radious:5px;
%container {
  padding: {
    left: 2%;
    right: 2%;
    top: 20px;
    bottom: 20px;
  }
}
%font {
  font-size: 20px;
  font-weight: 800;
  font-style: oblique;
  text-transform: inherit;
}
.parent {
  border: 2px solid #ccc;
  width: 390px;
  margin: 10px auto;
  background-color:$main-color;
  @extend %container;
  .card {
    @extend %container;
    border-radius: $main-border-radious;
    background-color: #fff;
    width: 95%;
    margin: auto;
    h1 { 
      @extend %font; 
      font-size: 30px;
      margin-bottom: 0;
      text-align: center;
    }
    form {
      @extend %container;
      padding-top: 0;
      .input-icons {
        position: relative;
        i {
          position:absolute;
          z-index: 1;
          top: 10px;
          color: #09090963;
        }
        &:hover {
          i {
            opacity: .1;
          }
        }
       
      }
      input {
        z-index: 0;
        height: 37px;
        width: 100%;
        border: none;
        border-bottom: 1px solid #4a4545d6;
        outline: none;
      }
    }
    button {
      @extend %font;
      width: 98%;
      margin: auto 5px;
      background-color: $main-color;
      border-radius:$main-border-radious;
      color: #fff;
      border: none;
      padding: 10px;
    }
    .footer {
      @extend %container;
      width: 90%;
      margin: auto;
      text-align: center;
      span {
      @extend %font;
        padding-left: 5px;
        color: $main-color;
      }
      border-bottom: 1px dashed #b1adad ;
    }
    .social-media {
      @extend %container;
      width: 90%;
      margin: auto;
      text-align: center;
      .title {
        color: #585858;
        font : {
          size: 15px;
          weight: 700;
          family: sans-serif;
        }
      }
     .social {
      width: 100%;
      padding: 0 10px;
      height: 50px;
      @extend %container;
      i {
        padding-left: 5px;
      }    
     }
    }
  }

}