.app {
  width: 95%;
  background-color: #fff;
  margin: auto;
  text-transform: capitalize;
  p {
    font-family: serif;
    font-weight: 100;
    font-size: 15px;
    color: #837e7e;
  }
  .title {
    text-align: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    h1 {
      width: 100%;
      font-weight: 700;
      font-family: sans-serif;
    }
    p {
      width: 100%;
    }
    padding-bottom: 30px;
  } 
  .card {
    display: flex;
    justify-content: space-evenly;
    h1 {
      font-size: 20px;
    }
    .I {
      h1 {
        text-align: end;
      }
    }
    .III {
      h1 {
        text-align: start
      }
    }
    .column {
      // display: flex;
      text-align: center;
    }
      .background {
        h1 {
          position:absolute;
          color: #fff;
          top: 30%;
          left: 17%;
          font : {
            size: 20px;
            family: monospace;
            weight: 700;
          }
        }
        img {
          width: 600px;
          border-radius: 50%;
          height: 600px;
          z-index: -1;
        }
        position:relative;
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          left: 0;
          top: 0;
          background-color: #9e9e9e54;
          z-index: 0;
        }
        &::before {
          content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, deleniti incidunt? Minus ab, molestiae commodi molestias tempora ex, laboriosam quas it amet consectetur adipisicing elit. Excepturi, deleniti incidunt? Minus ab, molestiae commodi commodi molestias tempora ex, laboriosam commodi molestias tempora ex, laboriosam molestias tempora ex, laboriosam quas.";
          position:absolute;
          padding: {
           left: 20px;
           right:20px;
           top: 30px;
          }
          line-height: 2.5;
          z-index: 1;
          width: 80%;
          top: 35%;
          left: 7%;
          text-align: center;
          color: #9e9e9e;
          font : {
            size: 15px;
            family: monospace;
            weight: 700;
          }
        }
      }
      ._frist {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .features {
          .icons {
            position: relative;
            .fa-docker {
              background-color:#080808 ;
             color: #071b53;
            }
            .fa-linux {
              background-color:#080808 ;
              color: #c9c60f;
            }
            .fa-book-medical {
              color: #0f7fc9;
              background-color:#080808 ;
            }
            .fa-hacker-news {
              color: #310fc9;
              background-color:#080808 ;
            }
            .icons {
              position:absolute;
              z-index: 2;
              width: 80px;
              height: 80px;
              border: 10px solid #fff;
              text-align: center;
              border-radius: 50%;
              top: -90px;
              &::before {
                top: 15px;
                position: relative;      
              }
            }
            ._I {
              transform: translate(280px,44px);
            }
            ._II {
              transform: translate(-370px,33px);
             
            }
        
          }
        }
      }
  }
}