body {
  background-color: #eee;
  text-transform: capitalize;
}

.rapp {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.app {
  width: 50%;
  height: 550px;
  margin: auto;
}

@media (max-width: 770px) {
  .app {
    width: 100%;
  }
}

@media (min-width: 1340px) {
  .app {
    width: 35%;
  }
}

.app .container {
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.app .container .headr {
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding-top: 15px;
}

.app .container .headr span {
  width: 100%;
  color: blue;
  text-align: end;
  padding-bottom: 10px;
}

.app .container .headr .icons {
  width: 100%;
  position: relative;
}

.app .container .headr input {
  width: 100%;
  background-color: #ccc;
  border: none;
  outline: none;
  padding: 9px;
  border-radius: 5px;
}

.app .container .headr i {
  position: absolute;
  left: 0;
  padding-left: 5px;
  top: 10px;
  color: #999393;
}

.app .container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.app .container .card .section {
  width: 48%;
  height: 44%;
  background-color: #fff;
  border-radius: 10px;
}

.app .container .card .section .rapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  height: 80%;
}

.app .container .card .section .rapp i {
  width: 90%;
}

.app .container .card .section .rapp i::before {
  position: absolute;
  z-index: 1;
  -webkit-transform: translate(12.5px, 11.5px);
          transform: translate(12.5px, 11.5px);
  color: #fff;
}

.app .container .card .section .rapp i::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 50%;
}

.app .container .card .section .rapp .fa-calendar-alt::after {
  background-color: #0377f9;
}

.app .container .card .section .rapp .fa-clock::after {
  background-color: #f99707;
}

.app .container .card .section .rapp .fa-box::after {
  background-color: #5a636c;
}

.app .container .card .section .rapp .fa-flag::after {
  background-color: #ff4b26;
}

.app .container .card .section .rapp .number {
  font-size: 38px;
  font-weight: 600;
}

.app .container .card .section .rapp .title {
  color: #5a636c;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 800;
}

.app .container .title-footer {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 800;
}

.app .container .footer {
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #fff;
  border-radius: 5px;
}

.app .container .footer .rapp {
  padding-right: 0;
}

.app .container .footer .footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app .container .footer .footer-section .list {
  width: 92%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app .container .footer .footer-section .list i {
  width: 5%;
  background-color: green;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;
  text-align: center;
}

.app .container .footer .footer-section .list i::before {
  position: absolute;
  color: #fff;
  -webkit-transform: translate(-7px, 10px);
          transform: translate(-7px, 10px);
}

.app .container .footer .footer-section .list .last {
  background-color: #ffc600;
}

.app .container .footer .footer-section .list span {
  padding-left: 10px;
}

.app .container .footer .footer-section .footer-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
}

.app .container .footer .footer-section .footer-number span {
  width: 35%;
  color: #5a636c;
}

.app .container .footer .hr {
  margin-left: 5%;
}
/*# sourceMappingURL=index.css.map */